@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: Roboto,sans-serif;
    color: #445361;
    text-align: center;
    background-color: white;
}

/*heading*/

.heading {
    text-align: center;
    font-size: 2.5rem;
}

/*game area*/
.game-area {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}


/*button styling*/

.btn {
    width: 140px;
    height: 80px;
    color: white;
}


.btn--blue {
    border-color: blue;
    color: blue;
    background-color: white;
}
.btn--blue:active,
.btn--blue:hover {
    background-color: darkblue;
    color: white;
}

.btn--orange {
    border-color: orange;
    color: orange;
    background-color: white;
}
.btn--orange:active,
.btn--orange:hover {
    background-color: darkorange;
    color: white;
}
.btn--red {
    border-color: red;
    color: red;
    background-color: white;
}

.btn--red:active,
.btn--red:hover {
    background-color: darkred;
    color: white;
}

.btn--green {
    border-color: green;
    color: green;
    background-color: white;
}

.btn--green:active,
.btn--green:hover {
    background-color: green;
    color: white;
}

.btn--purple {
    border-color: purple;
    color: purple;
    background-color: white;
}

.btn--purple:active,
.btn--purple:hover {
    background-color: purple;
    color: white;
}

.btn--big {
    padding-top: 10px;
    border: 10px solid;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 20px;
    transition: all 0.5s;
}


/*choices*/

.your-choice {
margin:20px;
background-color: white;
border: 1px;
border-color: brown;

}

#your-choice{
    text-transform: capitalize;
}

#computer-choice{
    text-transform: capitalize;
}


.computer-choice{
    background-color: white;
    margin: 20px;
    border:1px;
    border-color: orangered;
}

#choice-area{
    display: inline-block;
    font-size:2rem ;
}







/*score area*/

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
    
}

#wins {
    color: green;
    font-weight: bold;
}

#losses {
    color: red;
    font-weight: bold;
}

.score-area {
    display: inline-block;
    font-size: 1.5rem;
    
}

.result-outcome{
    font-size:2rem;
}

.result-outcome > h2 {
    margin:0px;
}


/* media queries */

@media (max-width: 414px) {
    .choices {
        width: 100%;
    }
    .your-choice{
        font-size:1.5rem;
    }
    .computer-choice{
        font-size:1.5rem;
    }
    .btn--big {
        margin: 0 10px;
        padding: 5px;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }

    

    .choices-area {
        padding: 10% 0;
        width: 100%;
    }

    .score-area {
        width: 100%;
    }

    .wins {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }
    .losses {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    }

    .result-outcome{
        font-size: 1rem;
    }

    .question{
        font-size: 1rem;
    }
}

@media (max-width: 375px) {
    .game-area {
        height: 45vh;
    }

    .choices-area {
        width: 75%;
        margin: 10px auto;
    }

    .btn--big {
        margin: 10px 10px;
    }
    .choices-area {
        padding: 10px 0;
    }
    .result-outcome{
        font-size: 1rem;
    }
    .question{
        font-size: 1rem;
    }
    .your-choice{
        font-size:1.5rem;
    }
    .computer-choice{
        font-size:1.5rem;
    }
    .score-area{
        margin:0px;
        padding:0px;
        font-size:1.5rem;
    }
    
}